{% extends 'base.html' %}
{% block content %}
<h1 class="headers">Hoodies</h1>

<div class="container">
    <div class="row row-cols-4">
        <div class="col product">
           <div class="productimg"><img src="{{url_for("static", filename="images/hoodie1.png")}}" alt="T-Shirt 1 Photo"></div>
            <div class="productdiscription"><p>Model 1</p><p>Price: 40£</p></div>
        </div>
        <div class="col product">
            <div class="productimg"><img src="{{url_for("static", filename="images/hoodie2.png")}}" alt="T-Shirt 1 Photo"></div>
             <div class="productdiscription"><p>Model 2</p><p>Price: 45£</p></div>
         </div>
         <div class="col product">
            <div class="productimg"><img src="{{url_for("static", filename="images/hoodie1.png")}}" alt="T-Shirt 1 Photo"></div>
             <div class="productdiscription"><p>Model 1</p><p>Price: 40£</p></div>
         </div>
         <div class="col product">
            <div class="productimg"><img src="{{url_for("static", filename="images/hoodie2.png")}}" alt="T-Shirt 1 Photo"></div>
             <div class="productdiscription"><p>Model 2</p><p>Price: 45£</p></div>
         </div>
         <div class="col product">
            <div class="productimg"><img src="{{url_for("static", filename="images/hoodie3.png")}}" alt="T-Shirt 1 Photo"></div>
             <div class="productdiscription"><p>Model 3</p><p>Price: 50£</p></div>
         </div>
         <div class="col product">
            <div class="productimg"><img src="{{url_for("static", filename="images/hoodie1.png")}}" alt="T-Shirt 1 Photo"></div>
             <div class="productdiscription"><p>Model 1</p><p>Price: 40£</p></div>
         </div>
         <div class="col product">
            <div class="productimg"><img src="{{url_for("static", filename="images/hoodie2.png")}}" alt="T-Shirt 1 Photo"></div>
             <div class="productdiscription"><p>Model 2</p><p>Price: 45£</p></div>
         </div>
         <div class="col product">
            <div class="productimg"><img src="{{url_for("static", filename="images/hoodie3.png")}}" alt="T-Shirt 1 Photo"></div>
             <div class="productdiscription"><p>Model 3</p><p>Price: 50£</p></div>
         </div>
        
    </div>
</div>
{% endblock %}