{% extends 'base.html' %}
{% block content %}
<h1 class="headers">Welcome to Your Artist Page</h1>



<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <a href="{{url_for('views.tshirt')}}"> <img src="{{url_for("static", filename="images/shirts.png")}}" class="d-block w-100""  alt="Clothes"> </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>New collection</h5>
          <p>New clothes colection in shop !</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <a href="{{url_for('views.music')}}"> <img src="{{url_for("static", filename="images/blank_vinyl.png")}}" class="d-block w-100" alt="Album Cover"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>"New Music</h5>
          <p>Music on Vinyl</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="http://www.youtube.com" target="_blank"><img src="{{url_for("static", filename="images/Youtube.png")}}" class="d-block w-100" alt="Youtube Video"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>New Videoclip !</h5>
          <p>New videoclip on Youtube</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>



{% endblock %}